button,
a {
  color: #777;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.8;
}

button {
  border: none;
  line-height: 2;
  color: #fff;
  background-color: #0d99ff;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 30em
}

button:hover,
a:hover {
  opacity: 1;
}

h1{
  text-align: left;
  margin: 30px;
}

select {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  border: 2px solid gray;
  border-radius: 5px;
}